<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dataset collection</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='sticky-footer.css') }}" rel="stylesheet">
  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Dataset collection</h1>
      <p class="lead">Collaborative and free of charge.</p>
	<form class="form-inline">
	  <div class="form-group mx-sm-3 mb-2">
	    <label for="image" class="sr-only">Image</label>
	    <input type="text" class="form-control" id="imagelink" placeholder="Url">
	  </div>
	  <button type="submit" class="btn btn-primary mb-2">Label</button>
	</form>
      <p><button type="submit" class="btn btn-success">Download dataset</button>
      <a href="/label">or start labeling images</a>.</p>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"><a href="https://github.com/guillaumeguerin/LabelImg">Check on github.</a></span>
      </div>
    </footer>
  </body>
</html>
